.contenedor-menu {
   height: 10em;
   display: flex;
   box-shadow: 3px 0px 0px 2px gray;
}

.logo {

   width: 300px;
}

.menu {
   width: 100%;
   display: flex;

}

.contlista {
   display: flex;
   
}

.listas {
   margin-left: 4em;
   padding-top: 2em;
   list-style: none;
   font-size: 1.5em;
   font-weight: 500;
}

.listas:hover {
   border-radius: 50px;
   font-weight: bold;
   color: #111427;
   text-shadow:rgb(85, 184, 255) 1px 0.5px 0.5px;
}