.contenedor-menu {
   height: 5em;
   display: flex;
   box-shadow: 3px 0px 0px 2px gray;
}

.logo {

   width: 200px;
}

.menu {
   width: 51%;
   display: flex;

}

.contlista {
   display: flex;
   width: 900px;
}

.listas {
   margin: 15px;
   display: flex;
   font-size: 1.2em;
   font-weight: 500;
}

.listas:hover {

   border-radius: 50px;
   font-weight: bold;
   color: #111427;
}