.work-conten {
   padding-top: 5em;
   margin-bottom: 5em;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   display: flex;
 
   
}

.imagenwork1 {
   width: 20em;
   height: 20em;
   border-radius: 100%;
   transform: scale(1.05);
   box-shadow: 0 0 25px rgb(76, 182, 244);
}

.imagenwork1:hover{
   transform: scale(1.01);
   box-shadow: 0 0 28px rgb(0, 67, 251);
}

.imagenwork2 {
   width: 20em;
   height: 20em;
   border-radius: 100%;
   transform: scale(1.05);
   box-shadow: 0 0 25px rgb(76, 182, 244);
}

.imagenwork2:hover{
   transform: scale(1.01);
   box-shadow: 0 0 28px rgb(0, 67, 251);
}

.imagenwork3 {
   width: 20em;
   height: 20em;
   border-radius: 100%;
   transform: scale(1.05);
   box-shadow: 0 0 15px  rgb(76, 182, 244);
}

.imagenwork3:hover{
   transform: scale(1.01);
   box-shadow: 0 0 28px rgb(0, 67, 251);
}


